= simple_form_for(@curriculum_assessment) do |f|
  = f.error_notification

  .form-inputs
    =f.association :dop ,   as: :check_boxes
    =f.association :item,   as: :check_boxes



   




  .form-actions
    = f.button :submit
