/#accordion.panel-group

- @items.each do |item|
  .panel-group{:id => "accordian"}
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", "data-parent" => "#accordion", :href => "#collapseOne"}
            = item.code
      #collapseOne.panel-collapse.collapse.in
        .panel-body
          = item.name
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", "data-parent" => "#accordion", :href => "#collapseOne"}
      


%br

= link_to 'New Item', new_item_path


